/* src/components/NavArrow.css */
.nav-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; <-- You might remove this if the arrow isn't directly clickable visually */
  box-sizing: border-box;
  pointer-events: none; /* <-- ENSURES it DOES NOT receive mouse events */
}

.arrow-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.arrow-icon-hovered {
  transform: scale(2);
  
}

.nav-arrow {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.nav-arrow-hidden {
  opacity: 0;
  pointer-events: none;
}
